*{
    font-family: sans-serif;
    margin: 0;
}

body{
    background-color:  #ff391e;
    height: 95vh;

    
    
   
}
p{
    margin: 10px;
}
h1{
    color: #28632d;
    padding-top: 1%;
}

.principal{
    background-color: #ff9177;
    margin: 0 auto;
    width: 90%;
    height: 105%;
}

.titulo{
    text-align: center;
    margin-bottom: 3%;
}
.chiste1{
    border: 3px solid #ff391e;
    background-color: #fdc8be;
    border-radius: 115px;
    margin-left: 5%;
    margin-right: 5%;
}


.chiste2{
    border: 3px solid #28632d;
    background-color: #bad9c7;
    border-radius: 115px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
}
.chiste3{ 
    border: 3px solid #ff391e;
    background-color: #fdc8be;
    border-radius: 115px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    
}
.chiste4{
    border: 3px solid #28632d;
    background-color: #bad9c7;
    border-radius: 115px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
}
.chiste5{ 
    border: 3px solid #ff391e;
    background-color: #fdc8be;
    border-radius: 115px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    
}
.chiste6{ 
    border: 3px solid #28632d;
    background-color: #bad9c7;
    border-radius: 115px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    
}